<div class="grid-row">
  <div class="column-full">
    <p style="background-color: grey;">Content</p>
  </div>
</div>

<div class="grid-row">
  <div class="column-one-half">
    <p style="background-color: grey;">Content</p>
  </div>
  <div class="column-one-half">
    <p style="background-color: grey;">Content</p>
  </div>
</div>

<div class="grid-row">
  <div class="column-one-third">
    <p style="background-color: grey;">Content</p>
  </div>
  <div class="column-one-third">
    <p style="background-color: grey;">Content</p>
  </div>
  <div class="column-one-third">
    <p style="background-color: grey;">Content</p>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <p style="background-color: grey;">Content</p>
  </div>
  <div class="column-one-third">
    <p style="background-color: grey;">Content</p>
  </div>
</div>

<div class="grid-row">
  <div class="column-one-third">
    <p style="background-color: grey;">Content</p>
  </div>
  <div class="column-two-thirds">
    <p style="background-color: grey;">Content</p>
  </div>
</div>

<div class="grid-row">
  <div class="column-one-quarter">
    <p style="background-color: grey;">Content</p>
  </div>
  <div class="column-one-quarter">
    <p style="background-color: grey;">Content</p>
  </div>
  <div class="column-one-quarter">
    <p style="background-color: grey;">Content</p>
  </div>
  <div class="column-one-quarter">
    <p style="background-color: grey;">Content</p>
  </div>
</div>
